---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set base = "https://www.valiterm.org" %}
  <url><loc>{{ base }}/</loc></url>
  <url><loc>{{ base }}/starter-kit.html</loc></url>
  <url><loc>{{ base }}/core-definition/</loc></url>
  <url><loc>{{ base }}/defined-term/</loc></url>
  <url><loc>{{ base }}/property-value/</loc></url>
  <url><loc>{{ base }}/industrial-compound/</loc></url>
  <url><loc>{{ base }}/terms/</loc></url>
  {% for t in collections.terms %}
  <url><loc>{{ base }}{{ t.url }}</loc></url>
  {% endfor %}
</urlset>
